services:
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: $MYSQL_DBNAME
      MYSQL_ROOT_PASSWORD: $MYSQL_PASS
      MYSQL_PORT: 3306
    ports:
      - "3306:3306"